<md-card class="info-card">
  <!-- <md-card-header>
    <md-card-title>
      
    </md-card-title>
  </md-card-header> -->
  <md-card-content>
    <form [formGroup]="doForm">
      <div>
        <!-- <md-input-container>
          <input mdInput [placeholder]="btity.titles.vehicles.vin" formControlName="vin">
        </md-input-container>
        <md-input-container class="m-size-input">
          <input mdInput [placeholder]="btity.titles.vehicles.vehicle.vehicleType" formControlName="vehicleType">
        </md-input-container> -->


        <md-input-container class="l-size-input">
          <input mdInput [placeholder]="btity.titles.dismantlingOrders.orderDate" disabled [value]="doForm.get('orderDate').value | date">
        </md-input-container>
        <ng-container *ngIf="isNew">
          <ng-container *ngTemplateOutlet="planners"></ng-container>
        </ng-container>
        <!-- <ng-container>
          <span style="width: 1em; display: inline-block"></span>
          <md-checkbox color="primary" formControlName="noItemToRecycle">
            {{btity.titles.dismantlingOrders.noItemToRecycle}}
          </md-checkbox>
        </ng-container> -->


        <ng-container *ngIf="!isNew">
          <md-input-container class="l-size-input">
            <input mdInput disabled [placeholder]="btity.titles.dismantlingOrders.startedAt" [value]="doForm.get('startedAt').value | date">
          </md-input-container>
          <md-input-container class="l-size-input">
            <input mdInput disabled [placeholder]="btity.titles.dismantlingOrders.completedAt" [value]="doForm.get('completedAt').value | date">
          </md-input-container>

        </ng-container>

      </div>
      <div class="select-container" *ngIf="!isNew">
        <ng-container *ngTemplateOutlet="planners"></ng-container>
      </div>
      <div class="select-container" *ngIf="!isNew">
        <md-select [multiple]="true" style="width: 30em;" class="small-select"
          [placeholder]="btity.titles.dismantlingOrders.productionOperators" formControlName="productionOperators">
          <md-option *ngFor="let staff of staffs" [value]="staff._id">
            {{staff.displayName}}
          </md-option>
        </md-select>
      </div>
    </form>
    
    <form [formGroup]="doForm.get('partsAndWastesPP')">
       <div *ngFor="let pwPPCtrl of pwPPForm.controls; let i=index" [formGroupName]="i">
        <md-input-container class="s-size-input">
          <input mdInput [placeholder]="btity.titles.dismantlingOrders.id" formControlName="id">
        </md-input-container> 
        <md-input-container class="s-size-input">
          <input mdInput [placeholder]="btity.titles.dismantlingOrders.name" formControlName="name">
        </md-input-container> 
        <md-input-container class="s-size-input">
          <input mdInput type="number" [placeholder]="btity.titles.dismantlingOrders.countPlan" formControlName="countPlan">
        </md-input-container>
        <app-autocomplete-combo
          [placeholderInput]="btity.titles.dismantlingOrders.conditionBeforeDismantling"
          [formControlInput]="pwPPForm.get([i, 'conditionBeforeDismantling'])"
          [objList]="btity.types.conditionBeforeDismantlingTypes"
          [toSort]="false"
          sizeClass='m-size-input'
        >
        </app-autocomplete-combo>      
        <md-input-container class="xl-size-input">
          <input mdInput [placeholder]="btity.titles.dismantlingOrders.noteByPlanner" formControlName="noteByPlanner">
        </md-input-container>
        <ng-container *ngIf="!isNew && dismantlingOrder.startedAt">
          <md-checkbox color="primary" formControlName="productionFinished" *ngIf="pwPPForm.get([i, 'conditionBeforeDismantling']).value.indexOf('遗失') === -1">
            {{btity.titles.dismantlingOrders.productionFinished}}
          </md-checkbox>
          <md-checkbox color="primary" formControlName="productionFinished" *ngIf="pwPPForm.get([i, 'conditionBeforeDismantling']).value.indexOf('遗失') > -1">
            {{btity.titles.dismantlingOrders.productionIgnored}}
          </md-checkbox>
          <md-input-container class="m-size-input">
            <input mdInput disabled [placeholder]="btity.titles.dismantlingOrders.productionDate" [value]="pwPPCtrl.get('productionDate').value | date">
          </md-input-container>
          <md-input-container class="s-size-input">
            <input mdInput type="number" [placeholder]="btity.titles.dismantlingOrders.countProduction" formControlName="countProduction">
          </md-input-container>
          <md-input-container class="xl-size-input">
            <input mdInput [placeholder]="btity.titles.dismantlingOrders.noteByProductionOperator" formControlName="noteByProductionOperator">
          </md-input-container>        
        </ng-container>
        <ng-container *ngIf="this.source === ddoTriggerTypes.inventoryInput">
          inventoryInput
        </ng-container>
      </div> 
    </form>
    <div *ngIf="dismantlingOrder.startedAt">
      <md-input-container class="m-size-input">
        <input mdInput disabled [placeholder]="btity.titles.dismantlingOrders.progressPercentage" [value]="doForm.get('progressPercentage').value | percent">
      </md-input-container>
      <md-checkbox color="primary" 
        [formControl]="doForm.get('confirmDismantlingCompleted')">
        {{btity.titles.dismantlingOrders.confirmDismantlingCompleted}}
      </md-checkbox>
    </div>
  </md-card-content>
</md-card>

<ng-template #planners>
  <md-select [multiple]="true" style="width: 15em;" class="small-select"
    [placeholder]="btity.titles.dismantlingOrders.planners" [formControl]="doForm.get('planners')">
    <md-option *ngFor="let staff of staffs" [value]="staff._id">
      {{staff.displayName}}
    </md-option>
  </md-select>
</ng-template>

<!-- <ng-container *ngTemplateOutlet="templateRefExp; context: contextExp"></ng-container> -->
      <!--
      planners: [this.isNew ? [this.auth.getUserDisplayName()] : oldDO.planners], // this is displayName now
      productionOperators: [oldDO.productionOperators] // also displayName now -->