<app-loading-or-error-2 [data]="vehicle">
  <md-card *ngIf="vehicle && !vehicle.error">
    <md-card-header>
      <md-card-title>拆解计划 - 车辆 VIN: {{vehicle.vin}}</md-card-title>
    </md-card-header>
    <md-card-content>
      <form [formGroup]="doForm">
        <div>
          <md-input-container class="m-size-input">
            <input mdInput type="date" [placeholder]="'计划下达日期'" formControlName="orderDate">
          </md-input-container>

          <md-select placeholder="计划类别" formControlName="orderType">
            <md-option *ngFor="let type of dataFromTrigger.types.dismantlingOrderTypes" [value]="type.id">
              {{type.name}}
            </md-option>
          </md-select>
          <md-input-container class="m-size-input">
            <input mdInput [placeholder]="'拆解负责人'" formControlName="dismantlingPIC">
          </md-input-container>
        </div>

        <div>
          <button type="submit" md-raised-button color="primary">保存</button>
          <button type="button" md-button color="primary">打印拆解计划表</button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</app-loading-or-error-2>