
  <div md-dialog-title>
    <span>拆解计划 - </span>
    <small>车辆识别代号: {{dataFromTrigger.vin}} / 车辆类型: {{dataFromTrigger.vehicleType}}</small>
    <button md-button type="button" class="close-button" (click)="dialogRef.close(createdNewRxx.getValue())">
      <i class="material-icons">close</i>
    </button>  
  </div>
  <div md-dialog-content>
    <app-existing-dismantling-orders
      [titles]="dataFromTrigger.titles"
      [vin]="dataFromTrigger.vin"
      [createdNewRxx]="createdNewRxx"
    ></app-existing-dismantling-orders>
  </div>
  <div md-dialog-content>
    <md-card>
      <ng-container *ngIf="dataFromTrigger.canCreateNew && !(createdNewRxx | async)">
        <md-card-header>
          <md-card-title>新建拆解计划</md-card-title>
        </md-card-header>
        <md-card-content>
          <app-dismantling-order-details
            [doForm]="doForm" (doFormSubmit)="onDOFormSubmit()" [titles]="dataFromTrigger.titles"
          >
          </app-dismantling-order-details>

        </md-card-content>
      </ng-container>
    </md-card>
  </div>

