/deep/ .vertical-center-container {
  display: flex;
  align-items: center;
}

/deep/ .normal-font-size-list.mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content {
  font-size: 1em;
  height: 2em;
}
