<md-spinner *ngIf="!((holder.isLoadedWithoutErrorRxx | async) || (holder.isWithErrorRxx | async))"></md-spinner>
<p *ngIf="holder.isWithErrorRxx | async">Something broke.</p>
<div *ngIf="holder.isLoadedWithoutErrorRxx | async">

  <md-card>
    <app-parts-and-wastes-list-dialog-trigger></app-parts-and-wastes-list-dialog-trigger>
  </md-card>
  <app-dismantling-idle2
    [report]="(holder.latestResultRxxHash['reports'] | async)['idle']"
    [btity]="holder.latestResultRxxHash['btity'] | async"
    [filterCache]="filterCache"
  >
  </app-dismantling-idle2>
  <!-- <app-dismantling-idle 
    [data]="(holder.latestResultRxxHash['reports'] | async)['idle']"
    [btity]="holder.latestResultRxxHash['btity'] | async"
    [filterCache]="filterCache"
  ></app-dismantling-idle> -->

  <app-dismantling-progressing 
    [orderType]="'dot1'"
    [data]="(holder.latestResultRxxHash['reports'] | async)['progressing']"
    [btity]="holder.latestResultRxxHash['btity'] | async"
    [filterCache]="filterCache"
  ></app-dismantling-progressing>
  <app-dismantling-progressing 
    [orderType]="'dot3'"
    [data]="(holder.latestResultRxxHash['reports'] | async)['progressing']"
    [btity]="holder.latestResultRxxHash['btity'] | async"
    [filterCache]="filterCache"
  ></app-dismantling-progressing>
  <!-- <app-dismantling-pre-dismantling
    [report]="(holder.latestResultRxxHash['reports'] | async)['preDismantling']"
    [btity]="holder.latestResultRxxHash['btity'] | async"
  >
  </app-dismantling-pre-dismantling> -->
  <app-dismantling-completed
    [data]="(holder.latestResultRxxHash['reports'] | async)['completed']"
    [btity]="holder.latestResultRxxHash['btity'] | async"
    [filterCache]="filterCache"
  ></app-dismantling-completed>
</div>