<p *ngIf="isLoading">
  <md-spinner></md-spinner>
</p>

<p *ngIf="isError">Something went wrong.</p>

<div *ngIf="!isLoading&&!isError">
  

<md-list class="vehicle-list">
  <md-list-item *ngFor="let vehicle of vList" [routerLink]="[vehicle.id, {isFromList: true}]">
    <i class="material-icons" md-list-icon>drive_eta</i>
    <!--<md-icon md-list-icon>folder</md-icon>-->
    <h3 md-line>{{(vehicle.vehicle && vehicle.vehicle.plateNo) || '号牌暂无'}} -- {{vehicle.id}} -- <small>{{(vehicle.entranceDate | date) || '入场日期暂无'}}</small></h3>
    <small md-line>申请表: 100% -- 台账: 80% -- 商务部网: 90% -- 治安网: 0% </small>
    <small md-line>拆解计划下达日期: {{(vehicle.dismantling && (vehicle.dismantling.orderDate | date)) || '暂无'}} </small>
  </md-list-item>
</md-list>


</div>




