<app-loading-or-error [httpJsonData]="vList">

  <md-list class="vehicle-list" *ngIf="vList && !vList.error">
    <md-list-item *ngFor="let vehicle of vList" [routerLink]="['../'+vehicle.vin, {isFromList: true}]">
      <i class="material-icons" md-list-icon>drive_eta</i>
      <h3 md-line>{{vehicle.vin}} / {{vehicle.vehicle.plateNo || '号牌暂无'}} / <small>{{(vehicle.entranceDate | date) || '入场日期暂无'}}</small></h3>
      <small md-line>
        <md-checkbox color="primary" [checked]="vehicle.status.mofcomCertReady.done" disabled>
          打印回收证明
        </md-checkbox>
        <md-checkbox color="primary" [checked]="vehicle.status.firstSurvey.done" disabled>
          一次验车
        </md-checkbox>
        <md-checkbox color="primary" [checked]="vehicle.status.secondSurvey.done" disabled>
          二次验车
        </md-checkbox>
        <md-checkbox color="primary" [checked]="vehicle.status.dismantled.done" disabled>
          彻底拆解
        </md-checkbox>

      </small>
    </md-list-item>
  </md-list>

</app-loading-or-error>
