<app-loading-or-error-3 [holder]="holderPub">
  <ng-container *ngIf="holderPub.isLoadedWithoutErrorRxx | async">
     
    <app-survey2-ready2-not-ready
      [reports]="holderPub.latestResultRxxHash['reports'].getValue()"
      [btity]="holderPub.latestResultRxxHash['btity'].getValue()"
      (openDialogVehicleList)="onOpenDialogVehicleList($event)"
    ></app-survey2-ready2-not-ready>
    
    <app-survey2-ready2-one-survey
      [reports]="holderPub.latestResultRxxHash['reports'].getValue()"
      [btity]="holderPub.latestResultRxxHash['btity'].getValue()"
      (openDialogVehicleList)="onOpenDialogVehicleList($event)"
    ></app-survey2-ready2-one-survey> 
     <app-survey2-ready2-two-surveys
      [reports]="holderPub.latestResultRxxHash['reports'].getValue()"
      [btity]="holderPub.latestResultRxxHash['btity'].getValue()"
      (openDialogVehicleList)="onOpenDialogVehicleList($event)"
    ></app-survey2-ready2-two-surveys>

    <app-survey2-ready2-zero-survey
      [reports]="holderPub.latestResultRxxHash['reports'].getValue()"
      [btity]="holderPub.latestResultRxxHash['btity'].getValue()"
      (openDialogVehicleList)="onOpenDialogVehicleList($event)"
    ></app-survey2-ready2-zero-survey> 

  </ng-container>
</app-loading-or-error-3>