  <md-card class="info-card">
    <md-card-header>
      <md-card-title class="vertical-center-container">
        <i class="material-icons">chevron_right</i>
        <span>{{titles.vehicles.vehicle.title}}</span>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <div class="form-group" [formGroup]="formGroupInput">

        <!-- 车牌号码 -->
        <md-input-container class="m-size-input">
          <input mdInput 
            [placeholder]="titles.vehicles.vehicle.plateNo"
            formControlName="plateNo">
        </md-input-container>

        <!-- 车辆类型 -->
        <app-autocomplete-combo
          [placeholderInput]="titles.vehicles.vehicle.vehicleType"
          [formControlInput]="formGroupInput.controls['vehicleType']"
          [objList]="types.vehicleTypes"
          sizeClass='l-size-input'
        >
        </app-autocomplete-combo>

        <!-- 使用性质 -->
        <app-autocomplete-combo
          [placeholderInput]="titles.vehicles.vehicle.useCharacter"
          [formControlInput]="formGroupInput.controls['useCharacter']"
          [objList]="types.useCharacters"
          sizeClass='m-size-input'
        >
        </app-autocomplete-combo>


      </div>
    </md-card-content>
  </md-card>

