  <md-card class="info-card">
    <md-card-header>
      <md-card-title class="vertical-center-container">
        <i class="material-icons">chevron_right</i>
        <span>{{titles.vehicles.vehicle.title}}</span>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <div [formGroup]="formGroupInput">

        <!-- 车牌号码 -->
        <md-input-container class="m-size-input">
          <input mdInput 
            [placeholder]="titles.vehicles.vehicle.plateNo"
            formControlName="plateNo">
        </md-input-container>

        <!-- 车辆类型 -->
        <app-autocomplete-combo
          [placeholderInput]="titles.vehicles.vehicle.vehicleType"
          [formControlInput]="formGroupInput.get('vehicleType')"
          [objList]="types.vehicleTypes"
          sizeClass='l-size-input'
          [toFilterList]="true"
        >
        </app-autocomplete-combo>

        <!-- 使用性质 -->
        <app-autocomplete-combo
          [placeholderInput]="titles.vehicles.vehicle.useCharacter"
          [formControlInput]="formGroupInput.get('useCharacter')"
          [objList]="types.useCharacters"
          sizeClass='m-size-input'
        >
        </app-autocomplete-combo>

        <!-- 品牌 -->
        <app-autocomplete-combo
          [placeholderInput]="titles.vehicles.vehicle.brand"
          [formControlInput]="formGroupInput.get('brand')"
          [objList]="types.brands"
          [toHideInitList]="true"
          sizeClass='m-size-input'
          [toFilterList]="true"
        >
        </app-autocomplete-combo>


        <md-input-container class="l-size-input">
          <input mdInput [placeholder]="titles.vehicles.vehicle.model" formControlName="model">
        </md-input-container>

        <md-input-container class="l-size-input">
          <input mdInput [placeholder]="titles.vehicles.vehicle.engineNo" formControlName="engineNo">
        </md-input-container>

        <md-input-container class="l-size-input">
          <input type="date" mdInput [placeholder]="titles.vehicles.vehicle.registrationDate" formControlName="registrationDate">
        </md-input-container>

        <md-input-container class="m-size-input">
          <input type="number" mdInput [placeholder]="titles.vehicles.vehicle.totalMassKG" formControlName="totalMassKG">
        </md-input-container>

        <md-input-container class="m-size-input">
          <input type="number" mdInput [placeholder]="titles.vehicles.vehicle.lengthOverallMM" formControlName="lengthOverallMM">
        </md-input-container>

        <md-input-container class="m-size-input">
          <input type="number" mdInput [placeholder]="titles.vehicles.vehicle.seats" formControlName="seats">
        </md-input-container>

        <md-input-container class="m-size-input">
          <input mdInput [placeholder]="titles.vehicles.vehicle.color" formControlName="color">
        </md-input-container>

        <!-- 获得方式 -->
        <app-autocomplete-combo
          [placeholderInput]="titles.vehicles.vehicle.aquisitionType"
          [formControlInput]="formGroupInput.get('aquisitionType')"
          [objList]="types.aquisitionTypes"
          sizeClass='m-size-input'
        >
        </app-autocomplete-combo>

        <md-input-container class="m-size-input" *ngIf="(formGroupInput.get('aquisitionType').value === '其他')">
          <input mdInput [placeholder]="titles.vehicles.vehicle.aquisitionOtherTypeDetail" formControlName="aquisitionOtherTypeDetail">
        </md-input-container>

        <md-input-container class="s-size-input">
          <input type="number" mdInput [placeholder]="titles.vehicles.vehicle.displacementL" formControlName="displacementL">
        </md-input-container>

        <!-- 燃油类型 -->
        <app-autocomplete-combo
          [placeholderInput]="titles.vehicles.vehicle.fuelType"
          [formControlInput]="formGroupInput.get('fuelType')"
          [objList]="types.fuelTypes"
          sizeClass='m-size-input'
        >
        </app-autocomplete-combo>

        <!-- 是否新能源 -->
        <app-autocomplete-combo
          [isTrueOrFalse]="true"
          [placeholderInput]="titles.vehicles.vehicle.isNEV"
          [formControlInput]="formGroupInput.get('isNEV')"
          sizeClass='m-size-input'
        >
        </app-autocomplete-combo>        

      </div>
    </md-card-content>
  </md-card>

