.chart-column {
  width: 100%;
  // height: 100%;
  opacity: 1;
  background-color: #3f51b5;
  position: absolute;
  bottom: 0;
}

.vertical-text {
  font-size: 0.8em;
}

.y-axis {
  border-right: black solid 1px;
}

.underlying-data md-grid-tile span {
  font-size: 0.8em;
}

.top-bordered-tile {
  border-top: black solid 1px;
}