<md-card>
    <md-card-header>
      <md-card-title class="vertical-center-container">
        <h3>添加成本项目</h3></md-card-title>
    </md-card-header>
    <md-card-content>
      <form [formGroup]="vCostForm" (ngSubmit)="add()">
        <app-autocomplete-combo
          [placeholderInput]="data.titles.vehicles.vehicleCosts.type"
          [formControlInput]="vCostForm.get('type')"
          [objList]="data.types.vehicleCostTypes"
          sizeClass="l-size-input"
          [toSort]="false"
        >
        </app-autocomplete-combo>

        <md-input-container class="m-size-input">
          <input mdInput type="number" [placeholder]="data.titles.vehicles.vehicleCosts.amount" formControlName="amount">
        </md-input-container>      
        <md-input-container class="xl-size-input">
          <input mdInput [placeholder]="data.titles.vehicles.vehicleCosts.details" formControlName="details">
        </md-input-container>
        <div md-dialog-actions>
          <button md-button type="submit" color="primary" [disabled]="!vCostForm.valid">添加（未保存）</button>
          <button md-button type="button" (click)="dialogRef.close(null)">取消</button>
        </div>   
      </form>
     </md-card-content>
   
</md-card>