<form [formGroup]="fform">

  <md-card class="info-card">
    <md-card-header>
      <md-card-title class="vertical-center-container">
        <i class="material-icons">chevron_right</i>
        <span>{{btity.titles.vehicles.remarks.title}}</span>
        <span>
          <button type="button" class="not-for-print" md-button color="primary" (click)="openDialogNewNote()">
            添加备注
          </button>
        </span>
      </md-card-title>
    </md-card-header>
    <md-card-content formArrayName="remarks">
      <div *ngIf="notesFormArray.length===0">暂无</div>
      <ng-container  *ngIf="notesFormArray.length!==0">
      <div class="flex-container" *ngFor="let noteCtrl of notesFormArray.controls; let i=index" [formGroupName]="i">
        <md-input-container class="s-size-input">
          <input mdInput [placeholder]="btity.titles.vehicles.remarks.id" [value]="i+1" disabled>
        </md-input-container>
        <span class="separator-in-flex-container"></span>
        <!--{{noteCtrl.value | json}}-->
        <md-input-container class="m-size-input">
          <input mdInput type="date" [placeholder]="btity.titles.vehicles.remarks.date" formControlName="date">
        </md-input-container>
        <span class="separator-in-flex-container"></span>
        <md-input-container class="xxl-size-input">
          <input mdInput [placeholder]="btity.titles.vehicles.remarks.content" formControlName="content">
        </md-input-container>
        <!--<button md-button *ngIf="i + 1 > vehicle.remarks.length">delete</button>-->
        <app-dialog-yes-or-no-trigger 
          [index]="i" (close)="onYesNoClose($event, i)"
          *ngIf="i + 1 > vehicle.remarks.length"
        ></app-dialog-yes-or-no-trigger>            



      </div>
      </ng-container>
    </md-card-content>
  
  </md-card>
</form>
