<md-card class="info-card">
  <md-card-header>
    <md-card-title class="vertical-center-container">
      <i class="material-icons">chevron_right</i>
      <span>已完成计划</span></md-card-title>
  </md-card-header>
  <md-card-content>

    <md-list class="normal-font-size-list">
      <md-list-item>
        <div md-line>
        近10周非摩托车每周拆解量
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        <div md-line>
        近10周摩托车每周拆解量
        </div>
      </md-list-item>
      

    </md-list>
  </md-card-content>

</md-card>