

<form [formGroup]="vehicleForm" novalidate>
  <md-toolbar class="vehicle-id-toolbar">
    <div>
      <md-input-container>
        <input mdInput [placeholder]="titles.vehicles.id" formControlName="id">
      </md-input-container>
      <small>

        <!-- start of mofcomRegistryType auto-complete -->
        <md-input-container>
          <input class="m-size-input" mdInput [placeholder]="titles.vehicles.mofcomRegistryType" [mdAutocomplete]="autoMofcomRegistryType" formControlName="mofcomRegistryType">
        </md-input-container>

        <md-autocomplete #autoMofcomRegistryType="mdAutocomplete" [displayWith]="displayFnObj">
          <md-option *ngFor="let mType of types.mofcomRegistryTypes" [value]="mType">
            {{ mType.name }}
          </md-option>
        </md-autocomplete>
        <!-- end of mofcomRegistryType auto-complete -->           

        <!-- start of mofcomRegistryType auto-complete -->
        <ng-container formGroupName="owner">
          <md-input-container>
            <input class="s-size-input" mdInput [placeholder]="titles.vehicles.owner.isPerson" [mdAutocomplete]="autoBoolean" formControlName="isPerson">
          </md-input-container>

          <md-autocomplete #autoBoolean="mdAutocomplete" [displayWith]="displayFnBoolean">
            <md-option *ngFor="let tf of [true, false]" [value]="tf">
              {{ tf ? '是' : '否' }}
            </md-option>
          </md-autocomplete>

        </ng-container>
        <!-- end of mofcomRegistryType auto-complete -->  

        <md-input-container>
          <input class="l-size-input" type="date" mdInput [placeholder]="titles.vehicles.entranceDate" formControlName="entranceDate">
        </md-input-container>
      </small>
    </div>
  </md-toolbar>

  <!--<md-card class="info-card">
    <md-card-header>
      <md-card-title>类别信息</md-card-title>
    </md-card-header>
    <md-card-content>
      
    </md-card-content>
  </md-card>-->


  <md-card class="info-card">
    <md-card-header>
      <md-card-title>车辆信息</md-card-title>
    </md-card-header>
    <md-card-content>
          
      <div class="form-group" formGroupName="vehicle">
        <md-input-container>
          <input class="m-size-input" mdInput [placeholder]="titles.vehicles.vehicle.plateNo"
            formControlName="plateNo">
        </md-input-container>

        <!-- start of vehicleType auto-complete -->
        <md-input-container>
          <input class="m-size-input" mdInput [placeholder]="titles.vehicles.vehicle.vehicleType" [mdAutocomplete]="autoVType" formControlName="vehicleType">
        </md-input-container>

        <md-autocomplete #autoVType="mdAutocomplete" [displayWith]="displayFnObj">
          <md-option *ngFor="let vType of filteredVTypesRx | async" [value]="vType">
            {{ vType.name }}
          </md-option>
        </md-autocomplete>
        <!-- end of vehicleType auto-complete -->        

        <!-- start of useCharacter auto-complete -->
        <md-input-container>
          <input class="m-size-input" mdInput [placeholder]="titles.vehicles.vehicle.useCharacter" [mdAutocomplete]="autoUseCharacter" formControlName="useCharacterName">
        </md-input-container>

        <md-autocomplete #autoUseCharacter="mdAutocomplete">
          <md-option *ngFor="let useCharacterName of filteredUseCharacterNamesRx | async" [value]="useCharacterName">
            {{ useCharacterName }}
          </md-option>
        </md-autocomplete>

        <!-- end of useCharacter auto-complete -->

        <!-- start of brand auto-complete-->

        <md-input-container>
          <input class="m-size-input" mdInput [placeholder]="titles.vehicles.vehicle.brand" [mdAutocomplete]="autoBrand" formControlName="brandName">
        </md-input-container>

        <md-autocomplete #autoBrand="mdAutocomplete">
          <md-option *ngFor="let brandName of filteredBrandNamesRx | async" [value]="brandName">
            {{ brandName }}
          </md-option>
        </md-autocomplete>

        <!-- end of brand auto-complete-->

        <md-input-container>
          <input class="m-size-input" mdInput [placeholder]="titles.vehicles.vehicle.model" formControlName="model">
        </md-input-container>

        <md-input-container>
          <input class="m-size-input" mdInput [placeholder]="titles.vehicles.vehicle.engineNo" formControlName="engineNo">
        </md-input-container>

        <md-input-container>
          <input class="l-size-input" type="date" mdInput [placeholder]="titles.vehicles.vehicle.registrationDate" formControlName="registrationDate">
        </md-input-container>

        <md-input-container>
          <input class="m-size-input" type="number" mdInput [placeholder]="titles.vehicles.vehicle.totalMassKG" formControlName="totalMassKG">
        </md-input-container>

        <md-input-container>
          <input class="m-size-input" type="number" mdInput [placeholder]="titles.vehicles.vehicle.lengthOverallMM" formControlName="lengthOverallMM">
        </md-input-container>

        <md-input-container>
          <input class="m-size-input" type="number" mdInput [placeholder]="titles.vehicles.vehicle.seats" formControlName="seats">
        </md-input-container>

        <md-input-container>
          <input class="m-size-input" mdInput [placeholder]="titles.vehicles.vehicle.color" formControlName="color">
        </md-input-container>



        <!-- start of aquisitionType auto-complete-->

        <md-input-container>
          <input class="m-size-input" mdInput [placeholder]="titles.vehicles.vehicle.aquisition.type" [mdAutocomplete]="autoAquisitionType" formControlName="aquisitionTypeName">
        </md-input-container>

        <md-autocomplete #autoAquisitionType="mdAutocomplete">
          <md-option *ngFor="let aTypeName of filteredAquistionTypeNamesRx | async" [value]="aTypeName">
            {{ aTypeName }}
          </md-option>
        </md-autocomplete>

        <!-- end of aquisitionType auto-complete-->

        <md-input-container>
          <input class="m-size-input" [hidden]="!(vehicleForm.get('vehicle.aquisitionTypeName').value === '其他')"
            mdInput [placeholder]="titles.vehicles.vehicle.aquisition.detail" formControlName="aquisitionTypeDetail">
        </md-input-container>

        <md-input-container>
          <input class="m-size-input" type="number" mdInput [placeholder]="titles.vehicles.vehicle.displacementL" formControlName="displacementL">
        </md-input-container>


        <!-- start of fuelType auto-complete-->

        <md-input-container>
          <input class="m-size-input" mdInput [placeholder]="titles.vehicles.vehicle.fuelType" [mdAutocomplete]="autoFuelType" formControlName="fuelTypeName">
        </md-input-container>

        <md-autocomplete #autoFuelType="mdAutocomplete">
          <md-option *ngFor="let fTypeName of filteredFuelTypeNamesRx | async" [value]="fTypeName">
            {{ fTypeName }}
          </md-option>
        </md-autocomplete>

        <!-- end of fuelType auto-complete-->


        <!-- start of isNEV auto-complete-->

        <md-input-container>
          <input class="m-size-input" mdInput [placeholder]="titles.vehicles.vehicle.isNEV" [mdAutocomplete]="autoBoolean" formControlName="isNEV">
        </md-input-container>



        <!-- end of isNEV auto-complete-->

      </div>




    </md-card-content>
  </md-card>

  <md-card class="info-card">
    <md-card-header>
      <md-card-title>所有人/经办人信息</md-card-title>
    </md-card-header>
    <md-card-content>
      
      <div class="form-group" formGroupName="owner">
        <md-input-container>
          <input class="m-size-input" mdInput [placeholder]="titles.vehicles.owner.name" formControlName="name">
        </md-input-container>
        <md-input-container>
          <input class="xl-size-input" mdInput [placeholder]="titles.vehicles.owner.idNo" formControlName="idNo">
        </md-input-container>
        <md-input-container>
          <input class="l-size-input" type="tel" mdInput [placeholder]="titles.vehicles.owner.tel" formControlName="tel">
        </md-input-container>
        <md-input-container>
          <input class="m-size-input" mdInput [placeholder]="titles.vehicles.owner.addressShort" formControlName="addressShort">
        </md-input-container>
        <md-input-container>
          <input class="m-size-input" mdInput [placeholder]="titles.vehicles.owner.zipCode" formControlName="zipCode">
        </md-input-container>
        <md-input-container>
          <input class="l-size-input" mdInput [placeholder]="titles.vehicles.owner.addressLong" formControlName="addressLong">
        </md-input-container>
      </div>

      <div class="form-group" formGroupName="owner">


      </div>
    </md-card-content>
  </md-card>

  <md-card class="info-card">
    <md-card-header>
      <md-card-title>其他信息</md-card-title>
    </md-card-header>
    <md-card-content>
      
    </md-card-content>
  </md-card>







</form>

<md-card class="info-card not-for-print">
  <button md-raised-button class="lighter-color" color="primary">
    保存更改
  </button>  
  <button md-raised-button class="lighter-color" color="warn">
    删除记录
  </button>
</md-card>


<div class="not-for-print diagnosis-only">


<md-card>
  <md-card-header>
    <md-card-title>vehicleForm.value</md-card-title>
  </md-card-header>
  <md-card-content>{{vehicleForm.value | json}}</md-card-content>
</md-card>

<md-card>
  <md-card-header>
    <md-card-title>vehicleForm.status</md-card-title>
  </md-card-header>
  <md-card-content>{{vehicleForm.status | json}}</md-card-content>
</md-card>

<md-card>
  <md-card-header>
    <md-card-title>vehicleForm.get('vehicle.vehicleTypeName').errors</md-card-title>
  </md-card-header>
  <md-card-content>{{vehicleForm.get('owner.tel').errors | json}}</md-card-content>
</md-card>
</div>




