.aquisition-radio {
  margin-right: 10px;
}

.info-card {
  margin-bottom: 5px;
}

.vehicle-id-toolbar {
  padding-top: 15px;
}

.m-size-input {
  width: 7em;
}

.l-size-input {
  width: 10em;
}

.xl-size-input {
  width: 14em;
}