.aquisition-radio {
  margin-right: 10px;
}

.info-card {
  margin-bottom: 5px;
}

input[type="date"] {
  height: 1em;
}

@media print {
  .info-card {
    margin-bottom: -30px;
  }
}




.vehicle-id-toolbar {
  padding-top: 15px;
}

.s-size-input {
  width: 4em;
}

.m-size-input {
  width: 6em;
}

.l-size-input {
  width: 9em;
}

.xl-size-input {
  width: 12em;
}