

<form [formGroup]="vehicleForm" novalidate>
  <div class="form-group">

    <md-input-container>
      <input mdInput [placeholder]="titles.vehicles.id" formControlName="id">
    </md-input-container>

    <ng-container formGroupName="vehicle">
      <md-input-container>
        <input mdInput [placeholder]="titles.vehicles.vehicle.plateNo"
          formControlName="plateNo">
      </md-input-container>


      <!-- start of vehicleType auto-complete -->
      <md-input-container>
        <input mdInput [placeholder]="titles.vehicles.vehicle.vehicleType" [mdAutocomplete]="autoVType" formControlName="vehicleTypeName">
      </md-input-container>

      <md-autocomplete #autoVType="mdAutocomplete">
        <md-option *ngFor="let vTypeName of filteredVTypeNamesRx | async" [value]="vTypeName">
          {{ vTypeName }}
        </md-option>
      </md-autocomplete>
      <!-- end of vehicleType auto-complete -->


    </ng-container>
  </div>

  <div class="form-group" formGroupName="owner">
    <md-input-container>
      <input mdInput [placeholder]="titles.vehicles.owner.name" formControlName="name">
    </md-input-container>
    <md-input-container>
      <input mdInput [placeholder]="titles.vehicles.owner.addressShort" formControlName="addressShort">
    </md-input-container>
    <md-input-container>
      <input mdInput [placeholder]="titles.vehicles.owner.zipCode" formControlName="zipCode">
    </md-input-container>
    <md-input-container>
      <input mdInput [placeholder]="titles.vehicles.owner.addressLong" formControlName="addressLong">
    </md-input-container>
  </div>

  <div class="form-group" formGroupName="vehicle">


    <!-- start of useCharacter auto-complete -->
    <md-input-container>
      <input mdInput [placeholder]="titles.vehicles.vehicle.useCharacter" [mdAutocomplete]="autoUseCharacter" formControlName="useCharacterName">
    </md-input-container>

    <md-autocomplete #autoUseCharacter="mdAutocomplete">
      <md-option *ngFor="let useCharacterName of filteredUseCharacterNamesRx | async" [value]="useCharacterName">
        {{ useCharacterName }}
      </md-option>
    </md-autocomplete>

    <!-- end of useCharacter auto-complete -->

    <!-- start of brand auto-complete-->

    <md-input-container>
      <input mdInput [placeholder]="titles.vehicles.vehicle.brand" [mdAutocomplete]="autoBrand" formControlName="brandName">
    </md-input-container>

    <md-autocomplete #autoBrand="mdAutocomplete">
      <md-option *ngFor="let brandName of filteredBrandNamesRx | async" [value]="brandName">
        {{ brandName }}
      </md-option>
    </md-autocomplete>

    <!-- end of brand auto-complete-->


  </div>
</form>

<!--{{vehicleForm.value | json}}
{{vehicleForm.status | json}}
{{vehicleForm.get('vehicle.vehicleTypeName').errors | json}}-->


{{titles|json}}

