.aquisition-radio {
  margin-right: 10px;
}

.info-card {
  margin-bottom: 5px;
}

input[type="date"] {
  height: 1em;
}

@media print {
  .main-form {
    margin-left: -30px;
    margin-right: -30px;
  }
  .info-card {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.vertical-center-container {
  display: flex;
  align-items: center;
}


.vehicle-id-toolbar {
  padding-top: 15px;
}

.s-size-input {
  width: 4em;
}

.m-size-input {
  width: 6em;
}

.l-size-input {
  width: 9em;
}

.xl-size-input {
  width: 12em;
}

.xxl-size-input {
  width: 100%;
}

.variable-length-input-container {
  width: 100%;
  display: flex;
}

.variable-length-input-container {
  .leading-input {
    margin-right: 5px
  }
}

md-checkbox {
  margin-right: 15px;
}

md-card-title {
  margin-bottom: 0.5em;
}