/deep/ .vehicle-toolbar {
  padding-top: 15px;
}

/deep/ .warn-toolbar {
  border: solid red 3px;
}

/deep/ .vertical-center-container {
  display: flex;
  align-items: center;
}

@media print {
  // .main-form {
  //   margin-left: -30px;
  //   margin-right: -30px;
  // }
  /deep/ .info-card {
    padding-top: 0;
    padding-bottom: 10px;
  }

  .print-margin {
    height: 1em;
  }
}