/deep/ .vehicle-id-toolbar {
  padding-top: 15px;
}

/deep/ .s-size-input {
  width: 4em;
}

/deep/ .m-size-input {
  width: 6em;
}

/deep/ .l-size-input {
  width: 9em;
}

/deep/ .xl-size-input {
  width: 12em;
}

/deep/ .xxl-size-input {
  width: 90%;
}

/deep/ input[type="date"] {
  height: 1em;
}