

<div md-dialog-title style="display:flex; align-items: center;">
  <span>回收证明录入进度</span>
  <span class="space-filler"></span>
  <button type="button" md-button (click)="closeDialog()" style="margin-right: -1em;">
    <i class="material-icons">close</i>
  </button>
</div>
<div md-dialog-content>
  <md-card>
    <md-card-content>{{message}}</md-card-content>
    <ng-container *ngIf="!!captchaBase64">
      <md-card-content style="width: 300px">
        <form [formGroup]="captchaForm" (ngSubmit)="onSubmit()">
          <md-grid-list cols="2" rowHeight="4em">
            <md-grid-tile>
              <img [src]="domSanitizer.bypassSecurityTrustUrl(captchaBase64)" alt="验证码"> 
            </md-grid-tile>
            <md-grid-tile>
              <md-input-container>
                <input mdInput [placeholder]="'验证码'" formControlName="captcha">
              </md-input-container>
            </md-grid-tile>
          </md-grid-list>
        </form>
      </md-card-content>
    </ng-container>

    <ng-container  *ngIf="!!resultBase64">
      <md-card-content>
        <img [src]="domSanitizer.bypassSecurityTrustUrl(resultBase64)" alt="录入截屏"> 
      </md-card-content>
    </ng-container>
  </md-card>
</div>
<div md-dialog-actions>

  <span class="space-filler"></span>
  <md-spinner class="mini-spinner-1" *ngIf="isSubmitting"></md-spinner>
  <button [disabled]="isSubmitting"
    *ngIf="!!captchaBase64" type="button" md-raised-button color="accent" (click)="onSubmit()">登录</button>
  <ng-container *ngIf="!!resultBase64">
      <button type="button" md-raised-button color="primary">确认</button>
  </ng-container>
</div>

