<md-card class="info-card">
  <md-card-content>
    <app-dialog-mofcom-login-trigger></app-dialog-mofcom-login-trigger>
  </md-card-content>
</md-card>
<md-card class="info-card">
  <md-card-header>
    <md-card-title class="vertical-center-container">
      <i class="material-icons">chevron_right</i>
      <span>回收证明待办车辆</span>
      <span style="width: 2em"></span>
      <app-shared-filter class="scale-down-filter"
        [optionsArr]="optionsArr"
        (valueChanges)="filterCacheRxx.next($event)"
      >
      </app-shared-filter>

    </md-card-title>
  </md-card-header>
   <md-card-content>

    <app-loading-or-error-3 [holder]="holderPub">
      <ng-container *ngIf="holderPub.isLoadedWithoutErrorRxx | async">

        <md-list class="normal-font-size-list">
          <md-list-item>
            <md-grid-list cols="4" rowHeight="2em" md-line>
              <md-grid-tile>
                车辆进场日期 \ 车型
              </md-grid-tile>
              <md-grid-tile>
                非摩托车
              </md-grid-tile>
              <md-grid-tile>
                摩托车
              </md-grid-tile>
              <md-grid-tile>
                合计
              </md-grid-tile>
            </md-grid-list>        
          </md-list-item>
          <md-divider></md-divider>
          <ng-container *ngFor="let item of dataProps; last as isLast">
            <md-divider *ngIf="isLast"></md-divider>
            <md-list-item>
              <md-grid-list cols="4" rowHeight="2em" md-line>
                <md-grid-tile>
                  {{item.title}}
                </md-grid-tile>
                <md-grid-tile>
                  <button md-button color="primary" [disabled]="!(filteredData['非摩托车'] ? (filteredData['非摩托车'][item.name] || 0) : 0)" 
                  (click)="queryList(item.name, 'z')">
                    {{filteredData['非摩托车'] ? (filteredData['非摩托车'][item.name] || 0) : 0}}
                  </button>
                </md-grid-tile>

                <md-grid-tile>
                  <button md-button color="primary" [disabled]="!(filteredData['摩托车'] ? (filteredData['摩托车'][item.name] || 0) : 0)" 
                    (click)="queryList(item.name, '3')">
                    {{filteredData['摩托车'] ? (filteredData['摩托车'][item.name] || 0) : 0}}
                  </button>
                </md-grid-tile>

                <md-grid-tile>
                  <button md-button color="primary" [disabled]="!((filteredData['摩托车'] ? (filteredData['摩托车'][item.name] || 0) : 0) + (filteredData['非摩托车'] ? (filteredData['非摩托车'][item.name] || 0) : 0))" 
                  (click)="queryList(item.name)">
                    {{(filteredData['摩托车'] ? (filteredData['摩托车'][item.name] || 0) : 0) + (filteredData['非摩托车'] ? (filteredData['非摩托车'][item.name] || 0) : 0)}}
                  </button>
                </md-grid-tile>
              </md-grid-list>
            </md-list-item>
          </ng-container>
        </md-list> 


      </ng-container>
    </app-loading-or-error-3>

  </md-card-content> 
</md-card>
