<md-spinner *ngIf="!(isLoadedRxx | async)"></md-spinner>
<ng-container *ngIf="zipData">
<app-loading-or-error [httpJsonData]="zipData">

<ng-container *ngIf="!zipData.error">
  <button md-button color="primary"
    *ngIf="zipData.isFromList" class="lighter-color not-for-print" 
    (click)="goBack()">
    <i class="material-icons">navigate_before</i>返回
  </button>

  <app-show-vehicle-details
    [titles]="zipData.titles" 
    [types]="zipData.types"
    [vehicle]="zipData.vehicle"
    [methods]="methods"
    (save)="saveVehicle($event.id, $event.details)"
  ></app-show-vehicle-details>  
</ng-container>  
</app-loading-or-error>
</ng-container>

