<ng-container *ngIf="!resolvedData">
  <md-spinner></md-spinner>
</ng-container>

<ng-container *ngIf="resolvedData">
  <button md-button color="primary"
    *ngIf="isFromListRx | async" class="lighter-color" (click)="goBack()">
    <i class="material-icons">navigate_before</i>返回
  </button>
  <!--<div><span><small *ngIf="isFromListRx | async" class="center-icon" (click)="goBack()">
    <i class="material-icons">navigate_before</i>返回
  </small></span></div>-->
  <app-vehicle-details [titles]="resolvedData.titles" [types]="resolvedData.types" [vehicle]="resolvedData.vehicle"></app-vehicle-details>
</ng-container>
