<button md-raised-button type="button" color="accent" class="close-button" (click)="dialogRef.close()">
  取消打印
</button>

<md-spinner *ngIf="!((holder.isLoadedWithoutErrorRxx | async) || (holder.isWithErrorRxx | async))"></md-spinner>
<p *ngIf="holder.isWithErrorRxx | async">Something broke.</p>
<app-dialog-dismantling-order-print-details *ngIf="holder.isLoadedWithoutErrorRxx | async"
  [vehicle]="this.holder.latestResultRxxHash['vehicle'].getValue()"
  [btity]="this.holder.latestResultRxxHash['btity'].getValue()"
  [dismantlingOrder]="dataFromTrigger.dismantlingOrder"
>
</app-dialog-dismantling-order-print-details>
