<app-vehicle-details-general [btity]="btity" [vehicle]="vehicle" [isNew]="isNew">
</app-vehicle-details-general>

<app-vehicle-details-status [btity]="btity" [vehicle]="vehicle">
</app-vehicle-details-status>

<app-vehicle-details-vehicle [btity]="btity" [vehicle]="vehicle" #vdv>
</app-vehicle-details-vehicle>

<app-vehicle-details-owner-agent [btity]="btity" [vehicle]="vehicle" #vdoa>
</app-vehicle-details-owner-agent>

<app-vehicle-details-docs-provided [btity]="btity" [vehicle]="vehicle" [isPersonRxx]="vdoa.isPersonRxx">
</app-vehicle-details-docs-provided>

<app-vehicle-details-fees-and-deductions [btity]="btity" [vehicle]="vehicle" [vdvFormRxx]="vdv.fformRxx">
</app-vehicle-details-fees-and-deductions>

<!--{{(dGeneral.fform && dGeneral.fform.getRawValue()) | json}}
{{(dStatus.fform && dStatus.fform.getRawValue()) | json}}-->