
.show-on-small-screen {
  display: block;
}
.hide-on-small-screen {
  display: none;
}

@media (min-width: 758px) {
  .show-on-small-screen {
    display: none;
  }
  .hide-on-small-screen {
    display: block;
  }
}

.vehicle-image {
  max-width: 600px;
}