


<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    Jolly good!
  </md-sidenav>

  <md-toolbar color="primary">
    
    <button md-button (click)="sidenav.open()">
      <i class="material-icons">menu</i>
    </button>
    <span routerLink="/">隆运报废车辆及回用件管理APP</span>
    

    <span class="app-toolbar-filler"></span>
    <button md-button>TOGGLE DARK THEME</button>
  </md-toolbar>

<!--<app-learnmd></app-learnmd>-->

<router-outlet></router-outlet>


</md-sidenav-container>