.app-toolbar-filler {
  flex: 1 1 auto;
}

.sidenav {
  padding: 20px;
}

.filler {
  min-width: 10px;
  width: 5%;
  max-width: 15px;
}

// .menu-bar {
//   opacity: 0.6;
//   min-height: 15px;
//   height: 30px;
// }

.menu-list md-list-item {
  display: inline;
}


/deep/ .errorMessage {
  color: red;
}


/deep/ .space-filler {
  flex: 1 1 auto;
}

.app-container {
  max-width: 900px;
  margin: 0 auto;
}


/deep/ .in-title-input {
  margin-left: 2em;
  // margin-right: 2em;
  // & >  .mat-input-wrapper {
  //   padding-bottom: 0;
  // }
}

/deep/ md-card-header.inline-md-card-header {
  display: inline;
}





/deep/ input[type="date"] {
  height: 1em;
}

/deep/ .inline-block-container {
  display: inline-block;
  margin-right: 0.5em;
}


/deep/ .info-card.mat-card {
  // padding-top: 0;
  margin-bottom: 5px;
  &.has-input-in-title {
    padding-top: 0;
    md-card-title {
      margin-bottom: 0;
    }
  }

  /deep/ .vertical-center-container {
    display: flex;
    align-items: center;
  }
}



/deep/ .checkbox-array div {
  flex: 1;
}

@media print {
  // .main-form {
  //   margin-left: -30px;
  //   margin-right: -30px;
  // }
  /deep/ .info-card {
    padding: 0 !important;
  }
}

/deep/ .same-line-height-input {
  .mat-input-wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/deep/ .inline-block-label {
  display: inline-block;
  .vertical-middle-span {
    line-height: 2em;
    // vertical-align: middle;
  }
}

/deep/ .fixed-button-bottom {
  position: fixed;
  bottom: 2em;
  right: 3em;
}



/deep/ .flex-container {
  display: flex;
  align-items: center;
  md-input-container, button {
    margin-right: 0.2em;
  }
}

/deep/ .separator-in-flex-container {
  width: 3px;
}

/deep/ .variable-length-input-container {
  .leading-input {
    margin-right: 5px
  }
}

/deep/ md-checkbox {
  margin-right: 15px;
}

/deep/ md-card-title {
  margin-bottom: 0.5em;
  i {
    margin-left: -0.2em;
  }
}


// /deep/ .left-aligned-tile.mat-grid-tile .mat-figure{
//   justify-content: flex-start;
// }

/deep/ .scale-down-filter {
  transform: scale(0.8, 0.8);
  transform-origin: left;
}

/deep/ .scale-down-filter-90 {
  transform: scale(0.9, 0.9);
  transform-origin: left;
}

