<div class="app-container">

  <md-toolbar color="primary" class="not-for-print">
    <!--<button md-button (click)="sidenav.open()">
      <i class="material-icons">menu</i>
    </button>-->
    <!--<span routerLink="/">
    <i class="material-icons">dashboard</i>
    </span>-->

    <i class="material-icons" routerLink="/">dashboard</i>
    <span class="filler"></span>
    <!--<span routerLink="/">隆运 报废车辆及回用件管理系统</span>-->
    <span routerLink="/">隆运 Q5</span>
    <span class="space-filler"></span>
    <span *ngIf="isLoggedInRxx | async">
      <span *ngIf="usernameRxx | async">{{usernameRxx | async}}</span>
      <button md-button (click)="logout()">登出</button>
    </span>

    <!--<span class="app-toolbar-filler"></span>
    <button md-button>TOGGLE DARK THEME</button>-->
  </md-toolbar>

  <ng-container *ngIf="isLoggedInRxx | async">
    <nav md-tab-nav-bar class="not-for-print">
      <a md-tab-link 
        *ngFor="let link of navLinks" 
        [routerLink]="link.route" 
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>

    <!--<nav md-tab-nav-bar>
      <a md-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{tabLink.label}}
      </a>
    </nav>-->
  <app-vehicle-search></app-vehicle-search>

  </ng-container>
    

  <md-card style="display:none" class="info-card">
    <md-card-header>
      <md-card-title>project plan</md-card-title>
    </md-card-header>
    <md-card-content>
        1: finish the show detail part; 
        2: finish the new part with validation; 
        1: finish the temp-export to taizhang part;
        1: finish the filter/reporting part;
        1: finish the dismatling planning part;
        2: finish the backend/db;
        1: deploy onnline;
        3: finish the mofcom auto-complete;
        1: finish the zhianwang auto-complete;
        2: add login/auth;
        2: part-pricing;
        4: part-inventory;
        4: part-sales;
    </md-card-content>
  </md-card>

  <router-outlet></router-outlet>

</div>