<form [formGroup]="vehicleForm" novalidate class="main-form">

  <!-- 一般信息 -->
  <app-details-general
    [titles]="titles" [types]="types"
    [formGroupInput]="vehicleForm">
  ></app-details-general>

  <!-- 相关照片 -->
  <!--<app-details-photos>
  </app-details-photos>-->

  <!-- 车辆信息 -->
  <app-details-vehicle
    [titles]="titles" [types]="types"
    [formGroupInput]="vehicleForm.get('vehicle')">
  </app-details-vehicle>

  <!-- 车主/经办人信息 -->
  <app-details-owner-agent
    [titles]="titles" [types]="types"
    [formGroupInput]="vehicleForm">
  </app-details-owner-agent>
  
  <!-- 车主/经办人信息 -->
  <app-details-docs
    [titles]="titles" [types]="types"
    [formGroupInput]="vehicleForm.get('docsProvided')">
  </app-details-docs>

  <app-details-condition-rv-fd
    [titles]="titles" [types]="types"
    [formGroupInput]="vehicleForm"
    [methods]="feesAndDeductionMethods">
  </app-details-condition-rv-fd>

  <md-card class="info-card not-for-print">
    <button md-raised-button color="primary">
      保存更改
    </button>  
    <button md-raised-button color="warn">
      删除记录
    </button>
  </md-card>

  <!--<md-card class="info-card">
    <md-card-header>
      <md-card-title class="vertical-center-container"><i class="material-icons">chevron_right</i><span>申请人承诺</span></md-card-title>
    </md-card-header>
    <md-card-content>
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur suscipit nam repudiandae quis tempore rerum dolorem pariatur expedita temporibus, nesciunt, id laboriosam et quo omnis ab nihil laborum rem itaque.</div>
      签字
    </md-card-content> 
  </md-card>

  <md-card class="info-card">
    <md-card-header>
      <md-card-title class="vertical-center-container"><i class="material-icons">chevron_right</i><span>查验员签字</span></md-card-title>
    </md-card-header>
    <md-card-content>
      签字
    </md-card-content> 
  </md-card>  -->
</form>

<md-card class="info-card not-for-print">
  <md-card-header>
    <md-card-title class="vertical-center-container">
      <i class="material-icons">chevron_right</i><span>拆解计划</span></md-card-title>
  </md-card-header>


  <md-card-content>
    <div *ngIf="!dismantlingOrdersInput.length">暂无</div>
    <form *ngIf="dismantlingOrdersInput.length" [formGroup]="dismantlingOrdersForm" novalidate >      
      <div formArrayName="dismantlingOrders">
        <div *ngFor="let dOrder of dismantlingOrders.controls; let i=index" [formGroupName]="i">
          <md-input-container class="m-size-input">
            <input mdInput [placeholder]="titles.dismantlingOrders.id" formControlName="id">
          </md-input-container>
          <!-- start of mofcomRegistryType auto-complete -->
          <md-input-container class="m-size-input" >
            <input mdInput [placeholder]="titles.dismantlingOrders.orderType" [mdAutocomplete]="autoDimantlingOrderType" formControlName="orderType">
          </md-input-container>

          <md-autocomplete #autoDimantlingOrderType="mdAutocomplete" [displayWith]="df.dName">
            <md-option *ngFor="let dOType of types.dismantlingOrderTypes" [value]="dOType">
              {{ dOType.name }}
            </md-option>
          </md-autocomplete>
          <!-- end of mofcomRegistryType auto-complete -->   

          <md-input-container class="l-size-input">
            <input mdInput type="date" [placeholder]="titles.dismantlingOrders.orderDate" formControlName="orderDate">
          </md-input-container>          
          <md-input-container class="l-size-input">
            <input mdInput type="date" [placeholder]="titles.dismantlingOrders.actualFinishDate" formControlName="actualFinishDate">
          </md-input-container>
          <ng-container *ngIf="!dOrder.get('actualFinishDate').value">
            <button md-raised-button color="primary">
              保存
            </button>  
            <button md-raised-button color="warn">
              删除
            </button>             
          </ng-container>
        </div>
      </div>

    </form>
  </md-card-content>
  <button md-raised-button color="primary" (click)="addDismantlingOrder()">
    新建拆解计划
  </button>  

</md-card>






<div class="not-for-print diagnosis-only">


  <md-card>
    <md-card-header>
      <md-card-title>dismantlingOrdersForm.value</md-card-title>
    </md-card-header>
    <md-card-content>{{dismantlingOrdersForm.value | json}}</md-card-content>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title>vehicleForm.status</md-card-title>
    </md-card-header>
    <md-card-content>{{vehicleForm.status | json}}</md-card-content>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title>vehicleForm.get('vehicle.feesAndDeductions').errors</md-card-title>
    </md-card-header>
    <md-card-content>{{vehicleForm.get('feesAndDeductions').value | json}}</md-card-content>
  </md-card>

</div>




