<form [formGroup]="vehicleForm" 
  (ngSubmit)="prepareSubmit(vehicleForm)" 
  novalidate class="main-form">

  <app-details-general
    [titles]="titles" [types]="types" [isNew]="isNew"
    [formGroupInput]="vehicleForm">
  ></app-details-general>


  <app-details-status
    [titles]="titles" [types]="types"
    [formGroupInput]="vehicleForm.get('status')">
  </app-details-status>

  <app-details-vehicle
    [titles]="titles" [types]="types" [brands]="brands"
    [formGroupInput]="vehicleForm.get('vehicle')"
    (onBrandBlur)="onBrandBlur($event)">
  </app-details-vehicle>

  <app-details-owner-agent
    [titles]="titles" [types]="types"
    [formGroupInput]="vehicleForm">
  </app-details-owner-agent>
  
  <app-details-docs
    [titles]="titles" [types]="types"
    [formGroupInput]="vehicleForm.get('docsProvided')">
  </app-details-docs>

  <app-details-condition-rv-fd
    [titles]="titles" [types]="types"
    [formGroupInput]="vehicleForm"
    [methods]="formArrayMethods('feesAndDeductions')"
    [rvAfterFD]="rvAfterFDRxx | async">
  </app-details-condition-rv-fd>

  <app-details-remarks
    [titles]="titles" [types]="types"
    [formGroupInput]="vehicleForm.get('remarks')"
    [methods]="formArrayMethods('remarks')">
  </app-details-remarks>

  <app-details-vehicle-costs
    [titles]="titles" [types]="types"
    [formGroupInput]="vehicleForm.get('vehicleCosts')"
    [methods]="formArrayMethods('vehicleCosts')"
    [rvAfterFDRxx]="rvAfterFDRxx">
  </app-details-vehicle-costs>

  <div class="fixed-button-bottom not-for-print">
    <button md-button type="button" color="primary" (click)="checkValidity()"
      *ngIf="(vehicleForm.pristine || !vehicleForm.valid || vehicleForm.get('metadata.isDeleted').value)"
    >数据验证</button>
    <button md-raised-button color="primary"
      type="submit"
      [disabled]="vehicleForm.pristine || !vehicleForm.valid || vehicleForm.get('metadata.isDeleted').value"
    >
      保存更改
    </button>  
    <button md-raised-button color="warn"
      type="button"
      [disabled]="vehicleForm.pristine || !vehicleForm.valid || vehicleForm.get('metadata.isDeleted').value">
      删除记录
    </button>
  </div>

</form>

