<!--{{fform.valid}}-->
<form [formGroup]="fform.get('vehicle')">
  <md-card class="info-card">
    <md-card-header>
      <md-card-title class="vertical-center-container">
        <i class="material-icons">chevron_right</i>
        <span>{{btity.titles.vehicles.vehicle.title}}</span>
        <span>
        <!-- 车牌号码 -->
        <md-input-container class="m-size-input in-title-input">
          <input mdInput 
            [placeholder]="btity.titles.vehicles.vehicle.plateNo"
            formControlName="plateNo">
        </md-input-container>

        </span>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <div>



        <!-- 车辆类型 -->
        <app-autocomplete-combo
          [placeholderInput]="btity.titles.vehicles.vehicle.vehicleType"
          [formControlInput]="fform.get('vehicle.vehicleType')"
          [objList]="btity.types.vehicleTypes"
          sizeClass='l-size-input'
          [toFilterList]="true"
          [toSort]="false"
        >
        </app-autocomplete-combo>

        <!-- 使用性质 -->
        <app-autocomplete-combo
          [placeholderInput]="btity.titles.vehicles.vehicle.useCharacter"
          [formControlInput]="fform.get('vehicle.useCharacter')"
          [objList]="btity.types.useCharacters"
          [toSort]="false"
          [toFilterList]="true"
          sizeClass='l-size-input'
        >
        </app-autocomplete-combo>

        <!-- 品牌 -->
        <app-autocomplete-combo
          [placeholderInput]="btity.titles.vehicles.vehicle.brand"
          [formControlInput]="fform.get('vehicle.brand')"
          [objList]="btity.brands"
          [toHideInitList]="true"
          sizeClass='m-size-input'
          [toFilterList]="true"
        >
        </app-autocomplete-combo>
        <button type="button" md-raised-button color="primary"
          *ngIf="fform.get('vehicle.brand').errors && fform.get('vehicle.brand').errors['notListed']"
          (click)="createNewBrand(fform.get('vehicle.brand').value)"
          [disabled]="insertingNewBrand"
        >新建品牌</button>
        <md-spinner *ngIf="insertingNewBrand" class="mini-spinner-1"></md-spinner>
          <!--(blur)="onBrandBlur($event)"-->
        <md-input-container class="l-size-input">
          <input mdInput [placeholder]="btity.titles.vehicles.vehicle.model" formControlName="model">
        </md-input-container>

        <md-input-container class="l-size-input">
          <input mdInput [placeholder]="btity.titles.vehicles.vehicle.engineNo" formControlName="engineNo">
        </md-input-container>

        <md-input-container class="l-size-input">
          <input type="date" mdInput [placeholder]="btity.titles.vehicles.vehicle.registrationDate" formControlName="registrationDate">
        </md-input-container>

        <md-input-container class="m-size-input">
          <input type="number" mdInput [placeholder]="btity.titles.vehicles.vehicle.totalMassKG" formControlName="totalMassKG">
        </md-input-container>

        <md-input-container class="m-size-input">
          <input type="number" mdInput [placeholder]="btity.titles.vehicles.vehicle.curbWeightKG" formControlName="curbWeightKG">
        </md-input-container>

        <md-input-container class="m-size-input">
          <input type="number" mdInput [placeholder]="btity.titles.vehicles.vehicle.lengthOverallMM" formControlName="lengthOverallMM">
        </md-input-container>

        <md-input-container class="s-size-input">
          <input type="number" mdInput [placeholder]="btity.titles.vehicles.vehicle.seats" formControlName="seats">
        </md-input-container>

        <md-input-container class="s-size-input">
          <input mdInput [placeholder]="btity.titles.vehicles.vehicle.color" formControlName="color">
        </md-input-container>

        <!-- 获得方式 -->
        <app-autocomplete-combo
          [placeholderInput]="btity.titles.vehicles.vehicle.aquisitionType"
          [formControlInput]="fform.get('vehicle.aquisitionType')"
          [objList]="btity.types.aquisitionTypes"
          sizeClass='m-size-input'
        >
        </app-autocomplete-combo>

        <md-input-container class="m-size-input" *ngIf="(fform.get('vehicle.aquisitionType').value === '其他')">
          <input mdInput [placeholder]="btity.titles.vehicles.vehicle.aquisitionOtherTypeDetail" formControlName="aquisitionOtherTypeDetail">
        </md-input-container>

        <md-input-container class="s-size-input">
          <input type="number" mdInput [placeholder]="btity.titles.vehicles.vehicle.displacementML" formControlName="displacementML">
        </md-input-container>

        <!-- 燃油类型 -->
        <app-autocomplete-combo
          [placeholderInput]="btity.titles.vehicles.vehicle.fuelType"
          [formControlInput]="fform.get('vehicle.fuelType')"
          [objList]="btity.types.fuelTypes"
          [toSort]="false"
          sizeClass='m-size-input'
        >
        </app-autocomplete-combo>

        <!-- 是否新能源 -->
        <app-autocomplete-combo
          [isTrueOrFalse]="true"
          [placeholderInput]="btity.titles.vehicles.vehicle.isNEV"
          [formControlInput]="fform.get('vehicle.isNEV')"
          sizeClass='s-size-input'
        >
        </app-autocomplete-combo>        

      </div>
    </md-card-content>
  </md-card>
</form>
