<md-card class="info-card">
  <md-card-header>
    <md-card-title class="vertical-center-container">
      <i class="material-icons">chevron_right</i>
      <span>待拆车辆</span>
      <span style="width: 2em"></span>
      <app-shared-filter
        [optionsArr]="optionsArr"
        (valueChanges)="filterValueChanges.next($event)"
      >
      </app-shared-filter>
      <!--<form [formGroup]="filtersForm" (ngSubmit)="onFiltersFormSubmit()">
        <small>
          <md-select placeholder="验车状态" formControlName="surveyStatus">
            <md-option *ngFor="let op of surveyStatusOptions" [value]="op.value">
              {{op.viewValue}}
            </md-option>
          </md-select>
      </form>-->


    </md-card-title>
  </md-card-header>
  <md-card-content>

    <md-list class="normal-font-size-list">
      <md-list-item>
        <md-grid-list cols="4" rowHeight="2em" md-line>
          <!-- header row -->
          <md-grid-tile>
            车辆进场日期 \ 车型
          </md-grid-tile>
          <md-grid-tile>
            非摩托车
          </md-grid-tile>
          <md-grid-tile>
            摩托车
          </md-grid-tile>
          <md-grid-tile>
            合计
          </md-grid-tile>
        </md-grid-list>        
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        <md-grid-list cols="4" rowHeight="2em" md-line>
          <!-- this week data row -->
          <md-grid-tile>
            本周
          </md-grid-tile>
          <md-grid-tile>
            {{filteredData[2].thisWeek || 0}}
          </md-grid-tile>
          <md-grid-tile>
            {{filteredData[3].thisWeek || 0}}
          </md-grid-tile>
          <md-grid-tile>
            {{(filteredData[2].thisWeek || 0) + (filteredData[3].thisWeek || 0)}}
          </md-grid-tile>
        </md-grid-list>
      </md-list-item>
      <md-list-item>
        <md-grid-list cols="4" rowHeight="2em" md-line>
          <!-- last week data row -->
          <md-grid-tile>
            上周
          </md-grid-tile>
          <md-grid-tile>
            {{filteredData[2].lastWeek || 0}}
          </md-grid-tile>
          <md-grid-tile>
            {{filteredData[3].lastWeek || 0}}
          </md-grid-tile>
          <md-grid-tile>
            {{(filteredData[2].lastWeek || 0) + (filteredData[3].lastWeek || 0)}}
          </md-grid-tile>
        </md-grid-list>
      </md-list-item>
      <md-list-item>
        <md-grid-list cols="4" rowHeight="2em" md-line>
          <!-- even-earlier data row -->
          <md-grid-tile>
            更早
          </md-grid-tile>
          <md-grid-tile>
            {{filteredData[2].evenEarlier || 0}}
          </md-grid-tile>
          <md-grid-tile>
            {{filteredData[3].evenEarlier || 0}}
          </md-grid-tile>
          <md-grid-tile>
            {{(filteredData[2].evenEarlier || 0) + (filteredData[3].evenEarlier || 0)}}
          </md-grid-tile>
        </md-grid-list>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        <md-grid-list cols="4" rowHeight="2em" md-line>
          <!-- sum data row -->
          <md-grid-tile>
            合计
          </md-grid-tile>
          <md-grid-tile>
            {{filteredData[2].total || 0}}
          </md-grid-tile>
          <md-grid-tile>
            {{filteredData[3].total || 0}}
          </md-grid-tile>
          <md-grid-tile>
            {{(filteredData[2].total || 0) + (filteredData[3].total || 0)}}
          </md-grid-tile>
        </md-grid-list>
      </md-list-item>

    </md-list>

  </md-card-content>
</md-card>