<md-card class="info-card">

  <md-card-content>
    <button type="button" md-button color="primary" (click)="openUserEditDialog(null)">新建用户</button>
    <!--<app-dialog-vehicle-trigger [vin]="''"></app-dialog-vehicle-trigger>-->
  </md-card-content>
</md-card>
<md-card class="info-card">
  <!--<md-spinner *ngIf="!(asyncDataHolder.isLoadedWithoutErrorRxx | async) && !(asyncDataHolder.isWithErrorRxx | async)"></md-spinner>
  <p *ngIf="asyncDataHolder.isWithErrorRxx | async">Something went wrong.</p>

  <ng-container *ngIf="asyncDataHolder.isLoadedWithoutErrorRxx | async">

    <md-card-header>
      <md-card-title class="vertical-center-container">
        <i class="material-icons">chevron_right</i>
        <span>进场统计（最近10天）</span>
        <span style="width: 2em"></span>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <app-entrance-reports [reports]="reports['lastTenDays']"></app-entrance-reports>
    </md-card-content>

    <md-card-header>
      <md-card-title class="vertical-center-container">
        <i class="material-icons">chevron_right</i>
        <span>进场统计（最近5周）</span>
        <span style="width: 2em"></span>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <app-entrance-reports-last-five-weeks [reports]="reports['lastFiveWeeks']"></app-entrance-reports-last-five-weeks>
    </md-card-content>

  </ng-container>-->


</md-card>
