<md-card class="info-card">
  <md-card-header>
    <md-card-title class="vertical-center-container">
      <i class="material-icons">chevron_right</i>
      <span>未完成【前期】拆解计划</span>
      <span style="width: 2em"></span>
      <button type="button" md-button color="primary" (click)="isCollapsed = !isCollapsed">
        <span *ngIf="isCollapsed">展开</span>
        <span *ngIf="!isCollapsed">收起</span>
      </button>
    </md-card-title>
  </md-card-header>
  <md-card-content>
  </md-card-content>
</md-card>