<app-loading-or-error-3 [holder]="holderPub">

  <ng-container *ngIf="holderPub.isLoadedWithoutErrorRxx | async">
    <div md-dialog-title>
      <div>
        <span>{{isInventoryInput ? '入库拆解件' : (isNew ? '新建拆解计划' : '查看拆解计划')}} - </span>
        <small>
          <span>{{vehicle.vin}} / </span>
          <span>{{vehicle.vehicle.plateNo}} / </span>
          <span>{{vehicle.vehicle.vehicleType}} / </span>
          <span>{{vehicle.vehicle.brand ? vehicle.vehicle.brand : '品牌暂无'}} / </span>
          <span>{{vehicle.vehicle.useCharacter === 'uc006' ? '非营运' : '营运'}}</span>
        </small>
      </div>
      <div>
        <small>
          <span>{{vehicle.isSurveyNecessary ? '需要验车 / ' : '无需验车'}}</span>
          <ng-container *ngIf="vehicle.isSurveyNecessary">
            <span>预计首验日期：{{vehicle.estimatedSurveyDateFirst | date}} / </span>
            <span>预计二验日期：{{vehicle.estimatedSurveyDateSecond | date}}</span>
          </ng-container>
        </small>
      </div>
      <div>
        <small>{{holderPub.latestResultRxxHash['btity'].getValue()['titles']['vehicles']['vehicle']['conditionOnEntrance']}}: 
          {{vehicle.vehicle.conditionOnEntrance ? vehicle.vehicle.conditionOnEntrance : '未填写'}}
        </small>
      </div>
      
      <app-close-button [dialogRef]="dialogRef" [fforms]="dod.fformsRxx | async"></app-close-button>
    </div>
    <div md-dialog-content>
      <app-dismantling-order-details2
        [vehicle]="dataFromTrigger.vehicle || holderPub.latestResultRxxHash['vehicle'].getValue()"
        [dismantlingOrder]="holderPub.latestResultRxxHash['dismantlingOrder'].getValue()"
        [staffs]="holderPub.latestResultRxxHash['staffs'].getValue()"
        [btity]="holderPub.latestResultRxxHash['btity'].getValue()"
        [saveTriggerRxx]="saveRxx"
        (isChangedAndValid)="isChangedAndValid = $event"
        (saved)="onSaved($event)"
        (confirmDismantlingCompleted)="onConfirmDismantlingCompleted($event)"
        [source]="dataFromTrigger.source"
        #dod
      >
      </app-dismantling-order-details2>
    </div>
    <div md-dialog-actions class="flex-container">
      <span style="color: red" *ngIf="isNew">“拆前状态”为“忽略”的项目将不被记录。</span>
      <!-- <button md-raised-button type="button" color="primary" [disabled]="true">
        “拆前状态”为“忽略”的项目将不被记录。
      </button> -->
      <span class="space-filler"></span>
      <md-spinner class="mini-spinner-1" *ngIf="dod.isSaving"></md-spinner>
      <button md-raised-button type="button" [color]="toShowCompleteButton ? 'accent' : 'primary'" (click)="saveRxx.next('anything')"
        [disabled]="!isChangedAndValid || dod.isSaving"
      >
        <span *ngIf="!toShowCompleteButton">{{saveButtonTitle}}</span>
        <span *ngIf="toShowCompleteButton">完成拆解</span>
      </button>
    </div>
  </ng-container>
</app-loading-or-error-3>