/* You can add global styles to this file, and also import other style files */
[class^='mat']:not(.material-icons), md-card {
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}


body {
  margin: 0;
  overflow-x: hidden;
}

/*

for printing dialog element, cancel 'position: fixed' for html.cdk-global-scrollblock and div.cdk-overlay-container,
then set md-dialog-container's overflow to visible, visibility to visible; and other elements to hidden;

*/

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.lighter-color {
  opacity: .6;
}
// md-card:not(.module-header-card) {
//   margin: 20px;
// }


@media print {
  body .not-for-print {
    display: none;
  }
  body .hidden-when-print {
    visibility: hidden;
  }
}

// delete margin-left for md-card-header
div.mat-card-header-text {
  margin-left: 0;
}


/* material icons starts */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  // src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(assets/MaterialIcons-Regular.woff2) format('woff2'),
    url(assets/MaterialIcons-Regular.woff) format('woff'),
    url(assets/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* material icons ends */



// md-dialog-container.mat-dialog-container {
//   overflow: visible;
// }

// styles for printing dialog contents - start
html.cdk-global-scrollblock.prepare-print-html, html.prepare-print-html {
  position: initial;
  visibility: hidden;
}

body.prepare-print-body {
  height: 0;
}

.cdk-overlay-container.prepare-print-overlay-container {
  position: initial;
}

md-dialog-container.mat-dialog-container.prepare-print-dialog-container, .prepare-print-dialog-container {
  overflow: visible;
  visibility: visible;
  left: 0;
  top: 0;
  max-width: none;
  width: 100%;
  position: absolute;
  height: auto;
  // center the dialog-container
  // width: 900px;
  // left: 50%;
  // margin-left: -450px;
}

[md-dialog-content].mat-dialog-content.prepare-print-dialog-content, .mat-dialog-content.prepare-print-dialog-content {
  overflow: visible;
  max-height: none;
  padding: 0;
}

.print-title {
  text-align: center;
  &.dismantling-application-form-title {
    font-size: 1.3em;
  }
}

// styles for printing dialog contents - end

[md-dialog-content].mat-dialog-content {
  max-height: 650px;
}

md-spinner.mini-spinner-1 {
  height: 1em;
  width: 1em;
  display: inline-block;
  // margin-left: 1em;
  // margin-right: 1em;
  margin: auto 1em;
}

md-spinner.mini-spinner-1p {
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  margin: auto auto auto 1em;
}

.clickable {
  cursor: pointer;
}

md-list.normal-font-size-list.mat-list .mat-list-item .mat-list-item-content, .mat-nav-list .mat-list-item .mat-list-item-content {
  font-size: 1em;
  height: 2em;
}


.print-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000
}

button.cancel-print {
  position: absolute;
  top: 1.5em;
  left: 10em;
  z-index: 1001;
}

button.cancel-print-right {
  position: absolute;
  top: 1.5em;
  right: 7em;
  z-index: 1001;
}

.y-axis {
  border-right: black solid 1px;
}

.underlying-data md-grid-tile span {
  font-size: 0.8em;
}

.top-bordered-tile {
  border-top: black solid 1px;
}

div.chart-column {
  width: 100%;
  // height: 100%;
  opacity: 1;
  background-color: #3f51b5;
  position: absolute;
  bottom: 0;
}

.vertical-text {
  font-size: 0.8em;
}

.right-margin-1 {
  margin-right: 1em;
}

.left-aligned-tile.mat-grid-tile .mat-figure{
  justify-content: flex-start;
}

md-grid-list.left-aligned-grid-list md-grid-tile.mat-grid-tile .mat-figure {
  justify-content: flex-start;
}

.select-container {
  display: flex;
  height: 4em;
  align-items: center;
}

.s-size-input {
  width: 4em;
}

.m-size-input {
  width: 6em;
}

.l-size-input {
  width: 9em;
}

.xl-size-input {
  width: 12em;
}


.xxl-size-input {
  // min-width: 400px;
  max-width: 700px;
  flex-grow: 1;
}