/* You can add global styles to this file, and also import other style files */
[class^='mat']:not(.material-icons), md-card {
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}


body {
  margin: 0;
  overflow-x: hidden;
}

/*

for printing dialog element, cancel 'position: fixed' for html.cdk-global-scrollblock and div.cdk-overlay-container,
then set md-dialog-container's overflow to visible, visibility to visible; and other elements to hidden;

*/

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.lighter-color {
  opacity: .6;
}
// md-card:not(.module-header-card) {
//   margin: 20px;
// }


@media print {
  body .not-for-print {
    display: none;
  }
}

// delete margin-left for md-card-header
div.mat-card-header-text {
  margin-left: 0;
}


/* material icons starts */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  // src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(assets/MaterialIcons-Regular.woff2) format('woff2'),
    url(assets/MaterialIcons-Regular.woff) format('woff'),
    url(assets/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
/* material icons ends */



// md-dialog-container.mat-dialog-container {
//   overflow: visible;
// }

// styles for printing dialog contents - start
html.cdk-global-scrollblock.prepare-print-html {
  position: initial;
  visibility: hidden;
}


.cdk-overlay-container.prepare-print-overlay-container {
  position: initial;
}

md-dialog-container.mat-dialog-container.prepare-print-dialog-container {
  overflow: visible;
  visibility: visible;
  left: 0;
  top: 0;
  max-width: none;
  width: 100%;
  position: absolute;
  height: auto;
}

[md-dialog-content].mat-dialog-content.prepare-print-dialog-content {
  max-height: none;
}


// styles for printing dialog contents - end

[md-dialog-content].mat-dialog-content {
  max-height: 650px;
}

md-spinner.mini-spinner-1 {
  height: 1em;
  width: 1em;
  display: inline-block;
  margin-left: 1em;
}

md-spinner.mini-spinner-1p {
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  margin: auto auto auto 1em;
}