<div md-dialog-title>
  <span *ngIf="!dataFromTrigger.vin">新建车辆</span>
  <span *ngIf="dataFromTrigger.vin">车辆详情</span>
  <small>
    <!--<span>车辆识别代号：{{dataFromTrigger.vin}}；</span>
    <span>号牌号码：{{dataFromTrigger.vehicle.vehicle.plateNo}}</span>-->
  </small>
</div>


<md-spinner *ngIf="!((isLoadedWithoutErrorRxx | async) || (isWithErrorRxx | async))"></md-spinner>
<p *ngIf="isWithErrorRxx | async">Something broke.</p>
<ng-container *ngIf="isLoadedWithoutErrorRxx | async">
  <div md-dialog-content>
    <app-vehicle-details 
      [vehicle]="vehicleRxx | async"
      [btity]="btityRxx | async"
      [saveTriggerRxx]="saveRxx"
      (saved)="onSaved($event)"
      (isChangedAndValid)="onIsChangedAndValid($event)"
      [checkValidityTriggerRxx]="checkValidityTriggerRxx"
    ></app-vehicle-details>
    <!--<form></form>-->

  </div>
  <div md-dialog-actions class="flex-container not-for-print">
    <button md-button type="button" (click)="preparePrint()" color="primary"
    *ngIf="!isInPrintMode">准备打印</button>
    <button md-raised-button type="button" 
      (click)="rollbackPreparePrint()" color="accent" *ngIf="isInPrintMode"
      class="cancel-print"
    >取消打印</button>
    <button md-button type="button" color="primary" *ngIf="!isInPrintMode"
      (click)="checkValidityTriggerRxx.next(true)"
    >数据验证</button>
    <span class="space-filler"></span>
    <button md-raised-button type="button" color="primary" *ngIf="!isInPrintMode"
      [disabled]="!isValidAndChanged"
      (click)="saveRxx.next(true)">保存</button>
    <button md-button type="button" color="warn" *ngIf="!isInPrintMode">删除</button>
  </div>

  <div *ngIf="isInPrintMode" class="print-overlay"></div>
</ng-container>
