<div class="printable">
<button md-button type="button" (click)="preparePrint()">print</button>
<button md-button type="button" (click)="refV()">refV</button>

  <md-spinner *ngIf="!((isLoadedWithoutErrorRxx | async) || (isWithErrorRxx | async))"></md-spinner>
  <p *ngIf="isWithErrorRxx | async">Something broke.</p>
  <div *ngIf="isLoadedWithoutErrorRxx | async">
    <!--<app-vehicle-details [vehicle]="vehicleRxx | async"></app-vehicle-details>-->
  </div>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>ohokoh</p>
  <p>end</p>
</div>

